# Example VDRP config file.
[Astrometry]

# Use a temporary directory. Result files will be copied to NIGHTvSHOT.
#use_tmp = {ast_use_tmp}

# Remove temporary directory after completion.
#remove_tmp = {ast_remove_tmp}

# Filename for the log file
#logfile={ast_logfile}

# Directory that holds panacea reductions.
# Subdriectories with name like NIGHTvSHOT must exist.
#reduction_dir = {ast_reduction_dir}

## Matrix overview plot parameters
# Minimum value (=white)
#cofes_vis_vmin = {ast_cofes_vis_vmin}
# Maximum value (=black)
#cofes_vis_vmax = {ast_cofes_vis_vmax}

## Daophot parameters
## For the path variables here you can use $config to point to the config directory
## of the installed VDRP package
# Daophot sigma value
#daophot_sigma = {ast_daophot_sigma}
# Filename for daophot configuration
#daophot_opt = {ast_daophot_opt}
# Filename for daophot photo task configuration.
#daophot_phot_psf = {ast_daophot_phot_psf}
# Filename for daophot photo task configuration.
#daophot_photo_opt = {ast_daophot_photo_opt}
# Filename for daophot photo task configuration.
#daophot_allstar_opt = {ast_daophot_allstar_opt}

## This is the initial grid that the daophot detection will be put on. Needs to be replaced
## by fplane positions. For now keeping it identical to Karls setup.
# Name of file that holds grid of IFUs offset fit (mktot).
# $config can be used to point to the config directory of the VDRP package
#mktot_ifu_grid = {ast_mktot_ifu_grid}
# Magnitude limit for offset fit (mktot).
#mktot_magmin = {ast_mktot_magmin}
mktot_magmax = 21.
# Limits for offset fit
#mktot_xmin = {ast_mktot_xmin}
#mktot_xmax = {ast_mktot_xmax}
#mktot_ymin = {ast_mktot_ymin}
#mktot_ymax = {ast_mktot_ymax}

# Magnitude cut for computing flux normalisation between the three exposures.
#fluxnorm_mag_max = {ast_fluxnorm_mag_max}

## Paramters for shuffle call

# Filename for shuffle configuration
# $config can be used to point to the config directory of the VDRP package
#shuffle_cfg = {ast_shuffle_cfg}

# Filename for fplane file
#fplane_txt = {ast_fplane_txt}

# do_shuffle magadd magnitudes
# ACAM
#acam_magadd = {ast_acam_magadd}
# WFS1
#wfs1_magadd = {ast_wfs1_magadd}
# WFS2
#wfs2_magadd = {ast_wfs2_magadd}

# Trial values for angular offsets
#add_radec_angoff_trial = {ast_add_radec_angoff_trial}
# Subdirectory which will hold results of angular offset angle trials
#add_radec_angoff_trial_dir = {ast_add_radec_angoff_trial}

# Angular offset to add during conversion of x/y coordinate to RA/Dec.
#add_radec_angoff = {ast_add_radec_angoff}

# This is the smoothing values used for the smoothing spline interpolation
# for the coputation of the optimal angular offset.
#optimal_ang_off_smoothing = {ast_optimal_ang_off_smoothing}

# Which epxosure(s) shoudl be used for offset computation,
# put 1,2,3 to use all three
#offset_exposure_indices = {ast_offset_exposure_indices}

# Comma separated list of matching radii for astrometric offset measurement.
#getoff2_radii = {ast_getoff2_radii}

# Angular offset to add for creation of mosaic image.
#mkmosaic_angoff = {ast_mkmosaic_angoff}

# This is the comman parent directory to all the astrometry.
# For each night/shot there shoudl be the corrsponding
# NIGHTvSHOT subdirectory that holds all.mch
# and radec2_final.dat.
#shifts_dir = 

# Sets where the *.addin files are located.
# These are essentially the IFUcen files in a somewhat different format.
# $config can be used to point to the config directory of the VDRP package
#addin_dir = {ast_addin_dir}

# Sets where the *.ixy files are located.
# These are essentially the IFUcen files in a somewhat different format.
# $config can be used to point to the config directory of the VDRP package
#ixy_dir = {ast_ixy_dir}

# List of x,y tuples that define the dither offsets.
#dither_offsets = {ast_dither_offsets}

# Configuration parameters for the throughput calculation task
[Photometry]

# Use a temporary directory. Result files will be copied to NIGHTvSHOT/res.
#use_tmp = {tp_use_tmp}

# Filename for the logfile
#photometry_logfile = {tp_photometry_logfile}

# Number of cores to use for the extraction of the shuffle stars
#shuffle_cores = {tp_shuffle_cores}

## When running in multi_shot mode, use this as star ID
#starid = {tp_starid}

# Base directory used to find the dithall.use files
#dithall_dir = {tp_dithall_dir}

# Magnitude cutoff for selection of stars found by shuffle
#shuffle_mag_limit = {tp_shuffle_mag_limit}

# Directory with the *ifustars shuffle output files
# $config can be used to point to the config directory of the VDRP package
#shuffle_ifustars_dir = {tp_shuffle_ifustars_dir}

# Directory with the multi extension fits files
#multifits_dir = {tp_multifits_dir}

# Directory with the throughput files
#tp_dir = {tp_tp_dir}

# Directory with the amplifier normalization files
#norm_dir = {tp_norm_dir}

## Parameters for the star spectrum extraction
# Aperture radius in asec for the extraction
#extraction_aperture = {tp_extraction_aperture}
# Central wavelength for the extraction
#extraction_wl = {tp_extraction_wl}
# Wavelength range for the extraction
#extraction_wlrange = {tp_extraction_wlrange}
# Central wavelength for the full spectrum extraction
#full_extraction_wl = {tp_full_extraction_wl}
# Wavelength range for the full spectrum extraction
#full_extraction_wlrange = {tp_full_extraction_wlrange}
# Central wavelength for the averaging
#average_wl = {tp_average_wl}
# Wavelength range for the averaging
#average_wlrange = {tp_average_wlrange}

# Filename of file with RA DEC PA positions for all shots
#radec_file = {tp_radec_file}

# Radius for search for fibers near a given star.
#ifu_search_radius = {tp_ifu_search_radius}
# Radius for search for shots near a given star.
#shot_search_radius = {tp_shot_search_radius}

## Paramters for shuffle call

# Filename for shuffle configuration
# $config can be used to point to the config directory of the VDRP package
#shuffle_cfg = {tp_shuffle_cfg}

# Filename for fplane file
#fplane_txt = {tp_fplane_txt}

# do_shuffle magadd magnitudes
# ACAM
#acam_magadd = {tp_acam_magadd}
# WFS1
#wfs1_magadd = {tp_wfs1_magadd}
# WFS2
#wfs2_magadd = {tp_wfs2_magadd}

# Seeing in arcseconds to assume for spectral extraction.
#seeing = {tp_seeing}
# Filter curve for SDSS g-Band filter.
#sdss_filter_file = {tp_sdss_filter_file}

# Directory where the SED fits can be found, if quick_fit cannot be run
#sed_fit_dir = {tp_sed_fit_dir}

# Sigma cut level for combsed call
#sed_sigma_cut = {tp_sed_sigma_cut}
# RMS cut level for combsed call
#sed_rms_cut = {tp_sed_rms_cut}

# Parameters for quick_fit
# Extinction for star field
#quick_fit_ebv = {tp_quick_fit_ebv}
# Create SED fitting plots
#quick_fit_plot = {tp_quick_fit_plot}
# Initial wavelength for bin
#quick_fit_wave_init = {tp_quick_fit_wave_init}
# Final wavelength for bin
#quick_fit_wave_final = {tp_quick_fit_wave_final}
# Bin size for wavelength
#quick_fit_bin_size = {tp_quick_fit_bin_size}