[Astrometry]

use_tmp = False
remove_tmp = True

logfile=astrometry.log
reduction_dir = /Users/mxhf/work/MPE/hetdex/src/vdrp_rewrite/reductions/

cofes_vis_vmin = -15
cofes_vis_vmax = 25
daophot_sigma = 2

daophot_opt   = /Users/mxhf/work/MPE/hetdex/src/vdrp_rewrite/vdrp/config/daophot.opt
daophot_phot_psf    = /Users/mxhf/work/MPE/hetdex/src/vdrp_rewrite/vdrp/config/use.psf
daophot_photo_opt   = /Users/mxhf/work/MPE/hetdex/src/vdrp_rewrite/vdrp/config/photo.opt

daophot_allstar_opt = /Users/mxhf/work/MPE/hetdex/src/vdrp_rewrite/vdrp/config/allstar.opt
mktot_ifu_grid      = /Users/mxhf/work/MPE/hetdex/src/vdrp_rewrite/vdrp/config/ifu_grid.txt

# This is the initial grid that the daophot detection will be put on. Needs to be replaced
# by fplane positions. For now keeping it identical to Karls setup.
mktot_ifu_grid = /Users/mxhf/work/MPE/hetdex/src/vdrp_rewrite/vdrp/config/ifu_grid.txt
mktot_magmin = 0.
mktot_magmax = 21.
mktot_xmin = 0.
mktot_xmax = 50.
mktot_ymin = 0.
mktot_ymax = 50.

# Magnitude cut for computing flux normalisation between the three exposures.
fluxnorm_mag_max = 19.


shuffle_cfg = /Users/mxhf/work/MPE/hetdex/src/vdrp_rewrite/vdrp/config/shuffle.cfg
fplane_txt = /Users/mxhf/work/MPE/hetdex/src/vdrp_rewrite/vdrp/config/fplane.txt

acam_magadd = 5.
wfs1_magadd = 5.
wfs2_magadd = 5.

# List of angular offsets to try 
#add_radec_angoff_trial = 0.0, 0.025, 0.075, 0.1, 0.125, 0.15, 0.175, 0.2, 0.225, 0.25, 0.275, 0.3
#add_radec_angoff_trial = 0.1
add_radec_angoff_trial = 1.35,1.375,1.4,1.425,1.45,1.475,1.5,1.525,1.55,1.575,1.6
# Subdirectory which will hold results of angular offset angle trials
add_radec_angoff_trial_dir = add_radec_angoff_trial

# Nominal angular offset
add_radec_angoff       =  1.45

# This is the smoothing values used for the smoothing spline interpolation
# for the coputation of the optimal angular offset.
optimal_ang_off_smoothing = 0.05

# Which epxosure(s) shoudl be used for offset computation, put 1,2,3 to use all three
offset_exposure_indices = 1,2,3

getoff2_radii = 11.,5.,3.

mkmosaic_angoff = 1.8


# This is the comman parent directory to all the astrometry.
# For each night/shot there shoudl be the corrsponding
# NIGHTvSHOT subdirectory that holds all.mch
# and radec2_final.dat.
shifts_dir = /Users/mxhf/work/MPE/hetdex/src/vdrp_rewrite/shifts


# Sets where the *.addin files are located.
# These are essentially the IFUcen files in a somewhat different format.
addin_dir = /Users/mxhf/work/MPE/hetdex/src/vdrp_rewrite/vdrp/config

