[Astrometry]
option=Hello world!
reduction_dir = /work/04287/mxhf/maverick/red1/reductions/
cofes_vis_vmin = -15
cofes_vis_vmax = 25
daophot_sigma = 2

# from daophot.opt
daophot_opt_VAR = 2
daophot_opt_READ = 1.06
daophot_opt_LOW = 10
daophot_opt_FWHM = 2.0
daophot_opt_WATCH = -1
daophot_opt_PSF = 7.
daophot_opt_GAIN = 1.274
daophot_opt_HIGH = 84000.
daophot_opt_THRESHOLD = 15.
daophot_opt_FIT = 4.0
daophot_opt_EX = 5
daophot_opt_AN = 1

daophot_xmin = 4
daophot_xmax = 45
daophot_ymin = 4
daophot_ymix = 45

daophot_phot_psf = vdrp/config/use.psf
