[Astrometry]
option=11,5

logfile=astrometry.log
reduction_dir = /Users/mxhf/work/MPE/hetdex/src/vdrp_rewrite/reductions/
cofes_vis_vmin = -15
cofes_vis_vmax = 25
daophot_sigma = 2

# from daophot.opt
daophot_opt_VAR = 2
daophot_opt_READ = 1.06
daophot_opt_LOW = 10
daophot_opt_FWHM = 2.0
daophot_opt_WATCH = -1
daophot_opt_PSF = 7.
daophot_opt_GAIN = 1.274
daophot_opt_HIGH = 84000.
daophot_opt_THRESHOLD = 15.
daophot_opt_FIT = 4.0
daophot_opt_EX = 5
daophot_opt_AN = 1

daophot_xmin = 4
daophot_xmax = 45
daophot_ymin = 4
daophot_ymix = 45

daophot_phot_psf    = vdrp/config/use.psf
daophot_phot_psf    = "vdrp/config/use.psf"
daophot_photo_opt   = "vdrp/config/photo.opt"

daophot_allstar_opt = "vdrp/config/allstar.opt"
mktot_ifu_grid      = "vdrp/config/ifu_grid.txt"

# This is the initial grid that the daophot detection will be put on. Needs to be replaced
# by fplane positions. For now keeping iot identical to Karls setup.
mktot_ifu_grid = vdrp/config/ifu_grid.txt
mktot_magmin = 0.
mktot_magmax = 21.
mktot_xmin = 0.
mktot_xmax = 50.
mktot_ymin = 0.
mktot_ymax = 50.

# Magnitude cut for computing flux normalisation between the three exposures.
fluxnorm_mag_max = 19.


shifts_cfg = vdrp/config/shuffle.cfg
fplane_txt = vdrp/config/fplane.txt

acam_magadd = 5.
wfs1_magadd = 5.
wfs2_magadd = 5.

add_radec_angoff = 0.1

getoff2_radii = 11.,11.,5.,5.,3.,3.
